#logo {
  height: 20%;
  vertical-align: middle;
}
.site-header section {
  vertical-align: middle;
  height: 100px;
}

.bookView {
  height: 90%;
  padding: 10px;
}

.bookContainer {
  width: 100%;
  height: 200px;
  background-color: rgb(66, 23, 23);
  display: block;
}

.bookBanner {
  height: 50px;
  background-color: rgb(66, 23, 23);
}

.updateView ul {
  display: block;
}

li.bookIndexLi {
  height: 240px;
  display: block;
}
.allBooks {
  height: 240px;
}

.bookCoverAll {
  float: left;
  height: 200px;
  margin-right: 20px;
}

.bookBanner {
  display:inline;
}